.banner-home {
    padding: 40px 0;

    .bl-header-wrap {
        margin-bottom: 22px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 0;
        }

        .cp-post {
            .titulo {
                margin-bottom: 8px;

                @include media-breakpoint-down(lg) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .img-banner-destaque {
        aspect-ratio: 10/6;

        @include media-breakpoint-down(lg) {
            margin-bottom: 8px;
        }
    }

    .cp-post {
        .picture-padrao {
            aspect-ratio: 7/4;
            margin-bottom: 8px;
        }

        .meta-post {
            margin-top: 0px;

            @include media-breakpoint-down(lg) {
                justify-content: space-between;
                margin-bottom: 20px;
            }

            .inner {
                display: flex;

                @include media-breakpoint-down(lg) {
                    flex-direction: column;
                }
            }
        }
    }
}

.banner-sobre {
    padding-bottom: 128px;

    &::before {
        position: absolute;
        background-color: var(--cor-auxiliar);
        top: 500px;
        bottom: 0;
        right: 0;
        left: 0;
    }

    h1 {
        font-size: var(--48px);
        padding: 32px 0;
    }

    .picture-padrao {
        border-radius: 13px;
        box-shadow: 13px 15px 17px rgba(0, 0, 0, 0.3);
    }
}

.bl-post-destaque {
    padding-bottom: 40px;

    .linha {
        margin-bottom: 50px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 40px;
        }
    }

    .conteudo {
        .meta-post {
            margin-top: 16px;

            @include media-breakpoint-down(sm) {
                justify-content: space-between;
            }
        }

        .resumo-post {
            margin-top: 16px;
            font-size: var(--fonte-18px);
        }
    }

    .picture-padrao {
        aspect-ratio: 5/3;
    }
}

.bl-listagem-categoria {
    .row {
        @include media-breakpoint-down(lg) {
            gap: 40px 0;
        }

        @include media-breakpoint-down(md) {
            gap: 16px 0;
        }

        >* {
            &:nth-child(4n) {
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }
    }

    .meta-post {
        justify-content: space-between;
    }

    &.items-2 {
        picture {
            height: 250px;
        }
    }

    &.items-3 {
        picture {
            aspect-ratio: 5/3;
        }
    }
}

.bl-swiper-materias {
    .bl-header-wrap {
        text-align: center;

        .titulo {
            display: inline;
            position: relative;
            background-color: #fff;
            padding: 8px 16px;
            z-index: 2;
        }

        .linha {
            position: relative;
            top: -1em;
        }
    }
}

.bl-full-texto{
    padding: 96px;
    
}

