.search-bar {
    position: fixed;
    right: 45px;
    top: 0;
    height: var(--altura-header);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: background-color 0.2;

    @include media-breakpoint-down(lg) {
        right: 15px;
    }

    form {
        display: flex;
        position: relative;
        width: fit-content;
        overflow: hidden;

        input {
            font-size: var(--fonte-pequena);
            background-color: var(--cor-auxiliar-escura);
            width: 0px;
            padding: 0px;
            height: 40px;
            border-radius: 0 8px 8px 0;
            transition: width 0.2s, padding 0.2s;
        }

        button[type="submit"] {
            svg {
                width: 32px;
                height: 32px;
            }
        }

        button[e-clear-searchbar] {
            display: none;
            position: absolute;
            height: 100%;
            aspect-ratio: 1/1;
            right: 5px;

            &:hover {
                svg {
                    opacity: 0.2;
                }
            }

            svg {
                display: flex;
                margin: 0 auto;
                width: 20PX;
                fill: #000;
                opacity: 0.1;
                transition: opacity 0.2s;
            }
        }
    }

    &.ativo {
        form {
            button[type="submit"] {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--cor-auxiliar-escura);
                border-radius: 8px 0 0 8px;
                width: 40px;
                position: relative;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            button[e-clear-searchbar] {
                display: block;
            }

            input {
                width: 256px;
                padding: 10px;
            }
        }

        @include media-breakpoint-down(lg) {
            background-color: var(--cor-auxiliar-escura);
            left: 0;
            right: 0;
            z-index: 100;
        }
    }

    &:not(.ativo) {
        button[e-clear-searchbar] {
            display: none !important;
        }
    }

    // Variações
}

.redes {
    display: flex;
    margin-top: 16px;
    gap: 4px;

    a {
        padding: 8px;
        background-color: transparent;
        transition: background-color 0.2s;
        border-radius: 50%;

        &:hover,
        &:focus {
            &.whatsapp {
                background-color: var(--cor-whatsapp);
            }

            &.instagram {
                background-color: var(--cor-instagram);
            }

            &.mail {
                background-color: var(--cor-mail);
            }

            svg {
                fill: #fff;
            }
        }

        svg {
            fill: var(--cor-fonte);
            transition: fill 0.2s;
            width: 24px;
            height: 24px;
        }
    }

}

.linha {
    width: 100%;
    display: block;
    height: 1px;
}

.meta-post {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
        font-size: var(--fonte-pequena);
    }
}

.bandeira-listrada {
    position: absolute;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
    width: 128%;
    left: -14%;
    top: 0;

    canvas {
        transform: skew(-25deg);
        width: 105%;
        height: 100%;

        &:nth-child(1n) {
            background-color: var(--vermelho);
            width: 150%;
        }

        &:nth-child(2n) {
            background-color: var(--laranja);
        }

        &:nth-child(3n) {
            background-color: var(--amarelo);
        }

        &:nth-child(4n) {
            background-color: var(--verde);
        }

        &:nth-child(5n) {
            background-color: var(--azul);
        }

        &:nth-child(6n) {
            background-color: var(--roxo);
            width: 150%;
        }
    }
}

.tag-padrao {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;

    h3 {
        z-index: 2;
        color: #fff;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 1)
    }

    &.menor {
        padding: 6px 8px;
        font-size: var(--fonte-pequena);
    }
}

.anuncio-banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #fff;
    padding: 16px 24px;
    padding-right: 0px;

    @include media-breakpoint-down(lg) {
        padding: 16px 24px;
    }

    .gradiente-bandeira {
        display: block;
        position: absolute;
        border-radius: 6px 0 0 6px;
        height: 100%;
        width: calc(100% + 15vw);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-shadow: 0 2px 0 #000;
        max-width: 70%;

        .titulo {
            margin-bottom: 10px;
            line-height: 1em;
        }

        p {
            margin-top: 0;
            font-size: var(--fonte-pequena);
            line-height: 1.1em;
            padding-right: 20px;
        }
    }

    picture {
        max-height: 90px;
        border-radius: 6px;
        aspect-ratio: 1;
        overflow: hidden;
        width: 46%;
    }
}

.cp-post {
    .conteudo {
        &.com-padding {
            padding: 0 10px;
        }

        @include media-breakpoint-down(lg) {
            padding: 0;
        }

        .titulo {
            display: block;

            @include media-breakpoint-down(lg) {
                margin-bottom: 20px;
            }
        }

        .meta-post {
            margin-top: 10px;
        }

        .resumo-post {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-top: 10px;

            &.exibir-1 {
                -webkit-line-clamp: 1;
            }

            &.exibir-2 {
                -webkit-line-clamp: 2;
            }

            &.exibir-3 {
                -webkit-line-clamp: 3;
            }

            &.exibir-4 {
                -webkit-line-clamp: 4;
            }

            &.exibir-5 {
                -webkit-line-clamp: 5;
            }

            &.exibir-6 {
                -webkit-line-clamp: 6;
            }
        }
    }

    .cta-link {
        margin-top: 20px;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    //Variações 
    &.horizontal {
        display: grid;
        gap: 10px;
        grid-template-columns: 2fr 5fr;

        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr;
        }

        .conteudo {
            @include media-breakpoint-down(md) {
                >* {
                    &:not(.titulo) {
                        display: none;
                    }
                }
            }
        }

        .picture-padrao {
            aspect-ratio: 1/1;
        }

        .titulo {
            @include media-breakpoint-down(md) {
                font-size: var(--fonte-tamanaho-padrao);
                margin-bottom: 10px;
            }
        }

        .meta-post {
            margin-top: 0px;
            display: block;


            .texto-cinza {
                font-size: var(--fonte-extra-pequena);
            }

            .inner {
                margin-top: 5px;
                display: flex;
                gap: 16px;
            }
        }

        .resumo-post {
            margin-top: 0;
            font-size: var(--fonte-pequena);
        }

        // Variações -> Horizontal
        &.resultado-busca {
            grid-template-columns: 7fr 3fr;
            gap: 24px;
        }

    }

    &.categoria {
        .titulo {
            @include media-breakpoint-down(md) {
                font-size: var(--fonte-tamanaho-padrao);
                margin-bottom: 0;
            }
        }

        .picture-padrao {
            @include media-breakpoint-down(md) {
                height: auto;
                aspect-ratio: 9/7;
            }
        }

        .meta-post {
            @include media-breakpoint-down(md) {
                margin-top: 0;
            }

            >* {
                &:not(.data-publicacao) {
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }
        }

        .resumo-post {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

}

a {
    &.cp-post {
        &:hover {
            .cta-link {
                padding-left: 10px;
            }
        }
    }
}

.cta-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    transition: padding-left 0.5s;

    &:hover {
        padding-left: 10px;
    }

    svg {
        width: 15px;
    }

    span {
        font-size: var(--fonte-pequena);
        font-weight: 700;
    }

    &.maior {
        span {
            font-size: var(--fonte-18px);
        }
    }
}

.header-listagem-categoria {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.swiper {
    &-button-prev {
        transform: scale(-1, 1);
    }

    &-button-next,
    &-button-prev {
        height: 48px;
        width: 48px;
        padding: 10px;
        transition: background-color 0.2s;
        border-radius: 50%;

        &::after {
            display: none;
        }

        svg {
            position: relative;
            bottom: 2px;
            width: 100%;
            height: 100%;

            path {
                stroke-width: 1px;
            }
        }

        &:hover {
            background-color: var(--cor-auxiliar);
        }
    }
}