.linha {
    width: 100%;
    display: block;
    height: 1px;
}

.meta-post {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
        font-size: var(--fonte-pequena);
    }
}

.bandeira-listrada {
    position: absolute;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
    width: 128%;
    left: -14%;
    top: 0;

    canvas {
        transform: skew(-25deg);
        width: 105%;
        height: 100%;

        &:nth-child(1n) {
            background-color: var(--vermelho);
            width: 150%;
        }

        &:nth-child(2n) {
            background-color: var(--laranja);
        }

        &:nth-child(3n) {
            background-color: var(--amarelo);
        }

        &:nth-child(4n) {
            background-color: var(--verde);
        }

        &:nth-child(5n) {
            background-color: var(--azul);
        }

        &:nth-child(6n) {
            background-color: var(--roxo);
            width: 150%;
        }
    }
}

.tag-padrao {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;

    h3 {
        z-index: 2;
        color: #fff;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 1)
    }

    &.menor {
        padding: 6px 8px;
        font-size: var(--fonte-pequena);
    }
}

.anuncio-banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #fff;
    padding: 16px 24px;
    padding-right: 0px;

    .gradiente-bandeira {
        display: block;
        position: absolute;
        border-radius: 6px 0 0 6px;
        height: 100%;
        width: calc(100% + 15vw);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-shadow: 0 2px 0 #000;
        max-width: 70%;


        .titulo {
            margin-bottom: 10px;
            line-height: 1em;
        }

        p {
            margin-top: 0;
            font-size: var(--fonte-pequena);
            line-height: 1.1em;
            padding-right: 20px;
        }
    }

    picture {
        max-height: 90px;
        border-radius: 6px;
        aspect-ratio: 1;
        overflow: hidden;
        width: 46%;
    }
}

.cp-post {
    .conteudo {
        padding: 0 10px;

        .meta-post {
            margin-top: 10px;
        }

        .resumo-post {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-top: 10px;

            &.exibir-1 {
                -webkit-line-clamp: 1;
            }

            &.exibir-2 {
                -webkit-line-clamp: 2;
            }

            &.exibir-3 {
                -webkit-line-clamp: 3;
            }

            &.exibir-4 {
                -webkit-line-clamp: 4;
            }

            &.exibir-5 {
                -webkit-line-clamp: 5;
            }

            &.exibir-6 {
                -webkit-line-clamp: 6;
            }
        }
    }

    .cta-link {
        margin-top: 20px;
    }

    //Variações 

    &.horizontal {
        display: grid;
        grid-template-columns: 2fr 5fr;

        .picture-padrao {
            aspect-ratio: 1/1;
        }

        .meta-post {
            margin-top: 0px;
            display: block;

            .texto-cinza {
                font-size: var(--fonte-extra-pequena);
            }

            .inner {
                margin-top: 5px;
                display: flex;
                gap: 16px;
            }
        }

        .resumo-post {
            margin-top: 0;
            font-size: var(--fonte-pequena);
        }
    }

}

a {
    &.cp-post {
        &:hover {
            .cta-link {
                padding-left: 10px;
            }
        }
    }
}


.cta-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    transition: padding-left 0.5s;

    &:hover {
        padding-left: 10px;
    }

    svg {
        width: 15px;
    }

    span {
        font-size: var(--fonte-pequena);
        font-weight: 700;
    }

    &.maior {
        span {
            font-size: var(--fonte-18px);
        }
    }
}

.header-listagem-categoria {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    gap: 30px;
}


.swiper {
    &-button-prev {
        transform: scale(-1, 1);
    }

    &-button-next,
    &-button-prev {
        height: 48px;
        width: 48px;
        padding: 10px;
        transition: background-color 0.2s;
        border-radius: 50%;

        &::after {
            display: none;
        }

        svg {
            position: relative;
            bottom: 2px;
            width: 100%;
            height: 100%;

            path {
                stroke-width: 1px;
            }
        }

        &:hover {
            background-color: var(--cor-auxiliar);
        }
    }
}