main {
    padding-top: calc(var(--altura-header) + var(--altura-assuntos-header) + var(--main-offset-top, 20px));
}

section {
    position: relative;
}

:target {
    scroll-margin-top: var(--altura-header);
}

.inner-container {
    position: relative;
}

.display {
    &-mobile {
        @include media-breakpoint-up(lg) {
            display: none !important;
        }
    }

    &-desktop {
        @include media-breakpoint-down(lg) {
            display: none !important;
        }
    }
}

.row>* {
    position: relative;
}

.no-gutters {
    &.row {
        margin: 0;

        &>* {
            padding: 0;
        }
    }
}

.document-wrap {
    overflow: hidden;
    position: relative;
}

.default-picture {
    display: block;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.before-absoluto {
    &::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
    }
}

.after-absoluto {
    &::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
    }
}

.picture-padrao {
    display: block;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.px-bl-xs {
    padding: 20px 0;
}

.px-bl-s {
    padding: 32px 0;
}

.px-bl-m {
    padding: 48px 0;

    @include media-breakpoint-down(md) {
        padding: 32px 0;
    }
}

.px-bl-l {
    padding: 60px 0;

    @include media-breakpoint-down(md) {
        padding: 32px 0;
    }
}

.px-bl-xl {
    padding: 80px 0;
}

.px-bl-xxl {
    padding: 100px 0;
}

// .focus-border {
//     &:focus {
//         border: 3px solid rgba(0, 0, 0, 1);
//         border-radius: 8px;
//         padding: 4px;
//         margin: -4px;
//     }
// }