:root {
    // Fontes
    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Arca Majora 3', sans-serif;
    --fonte-destaque: 'Lobster Two', cursive;

    //Tamanhos
    --fonte-10px: 0.625rem;
    --fonte-11px: 0.6875rem;
    --fonte-12px: 0.75rem;
    --fonte-13px: 0.8125rem;
    --fonte-14px: 0.875rem;
    --fonte-15px: 0.9375rem;
    --fonte-16px: 1rem;
    --fonte-17px: 1.0625rem;
    --fonte-18px: 1.125rem;
    --fonte-20px: 1.25rem;
    --fonte-22px: 1.375rem;
    --fonte-24px: 1.5rem;
    --fonte-26px: 1.5625rem;
    --fonte-28px: 1.75rem;
    --fonte-30px: 1.875rem;
    --fonte-32px: 2rem;
    --fonte-34px: 2.125rem;
    --fonte-36px: 2.25rem;
    --fonte-38px: 2.375rem;
    --fonte-40px: 2.5rem;
    --fonte-42px: 2.625rem;
    --fonte-44px: 2.75rem;
    --fonte-46px: 2.875rem;
    --fonte-48px: 3rem;
    --fonte-50px: 3.125rem;
    --fonte-80px: 5rem;
    --fonte-144px: 9rem;

    --default-font: 1rem; // 16px

    --fonte-extra-pequena: var(--fonte-12px);
    --fonte-pequena: var(--fonte-14px);
    --fonte-normal: var(--fonte-22px);
    --fonte-media: var(--fonte-28px);
    --fonte-media-grande: var(--fonte-32px);
    --fonte-grande: var(--fonte-34px);
    --fonte-extra-grande: var(--fonte-48px);

    @include media-breakpoint-down(lg) {
        --fonte-media-grande: var(--fonte-22px);
    }

    @include media-breakpoint-down(lg) {
        --fonte-media-grande: var(--fonte-22px);
        --fonte-extra-grande: var(--fonte-32px);
    }
}

html {
    font-size: 16px;
}

body {
    font-family: var(--fonte-primaria);
    color: var(--cor-fonte);
}

::selection {
    color: #fff;
    background: #000000;
}

strong {
    font-weight: 700;
}

.titulo {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-normal);
    line-height: 1.4em;
    letter-spacing: 0.01em;

    &.menor {
        font-size: var(--fonte-18px);
    }

    &.maior {
        font-size: var(--fonte-media-grande);
        line-height: 1.1em;
    }

    &.extra-grande {
        font-size: var(--fonte-extra-grande);
    }

    &.extra-bold {
        strong {
            font-weight: 800;
        }
    }

    &+p {
        margin-top: 10px;

    }

}

.subtitulo {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-grande);
}

p {
    line-height: 1.35em;
}

.destacado {
    strong {
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            width: 120%;
            top: 35.5%;
            left: -10%;
            height: 57.5%;
            z-index: -1;
            background-color: var(--cor-destaque);
        }
    }
}

.texto-cinza {
    opacity: 0.7;
}

.hover-underline {
    &:hover {
        text-decoration: underline;
    }
}