.single-projeto {
    .banner-projeto {
        .imagem-destaque {
            height: initial;
        }

        .picture-padrao {
            height: calc(100vh - var(--altura-header) - var(--altura-assuntos-header));
            height: calc(100svh - var(--altura-header) - var(--altura-assuntos-header));
            min-height: 420px;
        }

        small {
            display: block;
            font-weight: 100;
        }

        p {
            font-size: var(--fonte-18px);
            line-height: 1.4em;
            font-weight: 300;
        }

        .banner-cta {
            position: absolute;
            width: fit-content;
            bottom: 0;
            right: 0px;
            color: var(--cor-fonte);
            background-color: #fff;
            border-radius: 30px 0 0 0;
            text-decoration: initial;
            padding: 13px 80px 13px 20px;
            transition: padding 0.3s;

            &:hover {
                padding-right: 100px;
            }

            @include media-breakpoint-up(xl) {
                width: 30%;
            }
        }
    }

    .bl-img-esquerda {
        position: relative;

        .picture-padrao {
            width: 50vw;
        }

        &.full-height {
            padding: 60px 0;

            .picture-padrao {
                position: absolute;
                height: 100%;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                bottom: 0;
                min-height: 440px;
                max-height: 650px;

                @include media-breakpoint-down(lg) {
                    position: relative;
                    top: initial;
                    transform: initial;
                }
            }
        }
    }

    .bl-full-texto {
        padding: 80px 0 80px;
    }

    .bloco-galeria {
        padding: 40px 0 80px;
    }
}